body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}


.navbar {
    width: 100%; 
  }
  
.navbar a {
    color: white;
    text-decoration: none;
  }

  html {
    scroll-behavior: smooth;
  }

.carousel img {
    height: 25%;
}

h4 {
    text-align: center;
    color: white;
    font-weight: lighter;
    margin-top: 5em;
}

.somos {
    text-align: justify;
    color: white;
    font-weight: lighter;
}

.fa-route {
    background-color: #0275d8;
    padding: 0.5em 10.5em 0.5em 10.5em;
}

.fa-plane {
    background-color: #0275d8;
    padding: 0.5em 10.5em 0.5em 10.5em;
}

.fa-mountain {
    background-color: #0275d8;
    padding: 0.5em 10.5em 0.5em 10.5em;

}

hr {
    height: 2px;
    width: 90%;
    background-color: #0275d8;
    border-top: 2em;
    border-bottom: 2em;
  }

#Footer{
background-color: #0275d8;
}